#site-header {
	@include heading3;
	@include resetList;
	margin: rem(48) 0;
	.main-menu {
		ul {
			@include flexbox(row, nowrap, center, center, #{rem(45)});
			@include resetList;
			li {
				a {
					display: block;
					padding: 0.5em;
					@include resetLink;
				}
				&:hover,
				&.current-menu-item,
				&.current_page_parent {
					a {
						background-color: var(--main-color);
						color: var(--white);
					}
				}
			}
		}
	}
}
